html body {
    background : url("/modules/images/wavegrid.png") repeat;
}

.admin-login,
.site-request-password-reset,
.site-reset-password,
.admin-signup {
    margin-top : 200px;
}

.wrap nav {
    -webkit-box-shadow : 0px 0px 20px 0px rgba(0, 0, 0, 0.8);
    -moz-box-shadow    : 0px 0px 20px 0px rgba(0, 0, 0, 0.8);
    box-shadow         : 0px 0px 20px 0px rgba(0, 0, 0, 0.8);
}

.admin-login,
.site-request-password-reset,
.site-reset-password,
.admin-signup,
#grid_content {
    padding            : 20px;
    margin-bottom      : 50px;
    /*box-shadow: 0 0 10px rgba(0,0,0,0.5);*/
    -webkit-box-shadow : 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow    : 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    box-shadow         : 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    background         : rgba(52, 73, 94, 0.1);
    overflow           : auto;
}

#grid_content .form-control {
    background-color : rgba(255, 255, 255, 0.3);
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color : rgba(255, 255, 255, 0.5);
}

.admin-login h1,
.site-request-password-reset h1,
.site-reset-password h1,
.admin-signup h1 {
    margin-bottom  : 15px;
    color          : #34495e;
    font-size      : 27px;
    font-weight    : 500;
    text-transform : uppercase;
}

.admin-login .glyphicon,
.site-request-password-reset .glyphicon,
.site-reset-password .glyphicon,
.admin-signup .glyphicon {
    font-size : 30px;
}

.admin-login .form-group button,
.site-request-password-reset .form-group button,
.site-reset-password .form-group button,
.admin-signup .form-group button {
    margin-top : 20px;
}

.admin-form-crud {
    margin : 30px;
}

.admin-form-crud-inside {
    margin : 40px 100px;
}

.form-control {
    text-shadow        : 1px 1px 1px rgba(0, 0, 0, 0.3);
    border             : 1px solid rgba(0, 0, 0, 0.3);
    border-radius      : 4px;
    box-shadow         : inset 0 -5px 45px rgba(100, 100, 100, 0.2), 0 1px 1px rgba(255, 255, 255, 0.2);
    -webkit-transition : box-shadow .5s ease;
    -moz-transition    : box-shadow .5s ease;
    -o-transition      : box-shadow .5s ease;
    -ms-transition     : box-shadow .5s ease;
    transition         : box-shadow .5s ease;
}

.user-view pre code > span {
    text-align  : left;
    float       : left;
    line-height : 11px;
}

.user-view #grid_content .navbar-fixed-top {
    position : inherit !important;
}

#grid_content .detail-view {
    text-align : left;
}

html,
body,
.wrap,
.container-fluid {
    height : 100%;
}

.wrap {
    min-height : 100%;
    height     : auto;
    margin     : 0 auto -60px;
    padding    : 0 0 60px;
}

.wrap > .container {
    padding : 70px 15px 20px;
}

.footer {
    margin-top       : -50px;
    height           : 60px;
    background-color : #f5f5f5;
    border-top       : 1px solid #ddd;
    padding-top      : 20px;
}

.jumbotron {
    text-align       : center;
    background-color : transparent;
}

.jumbotron .btn {
    font-size : 21px;
    padding   : 14px 24px;
}

.not-set {
    color      : #c55;
    font-style : italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position     : relative;
    top          : 1px;
    display      : inline-block;
    font-family  : 'Glyphicons Halflings';
    font-style   : normal;
    font-weight  : normal;
    line-height  : 1;
    padding-left : 5px;
}

a.asc:after {
    content : /*"\e113"*/ "\e151";
}

a.desc:after {
    content : /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content : "\e153";
}

.sort-numerical a.desc:after {
    content : "\e154";
}

.sort-ordinal a.asc:after {
    content : "\e155";
}

.sort-ordinal a.desc:after {
    content : "\e156";
}

.grid-view th {
    white-space : nowrap;
}

.hint-block {
    display    : block;
    margin-top : 5px;
    color      : #999;
}

.error-summary {
    color       : #a94442;
    background  : #fdf7f7;
    border-left : 3px solid #eed3d7;
    padding     : 10px 20px;
    margin      : 0 0 15px 0;
}

.breadcrumb {
    background-color : transparent;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color : #428bca;
    border-color     : #357ebd;
    outline          : none;
    color            : white;
}

.header {
    width         : 100%;
    height        : 86px;
    border-bottom : 1px dotted white;
    background    : #0c87b3 !important; /* Old browsers */
    background    : -moz-linear-gradient(top, #0c87b3 0%, #0c87b3 0%, #044d6e 100%) !important; /* FF3.6+ */
    background    : -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0c87b3), color-stop(0%, #0c87b3), color-stop(100%, #044d6e)) !important; /* Chrome,Safari4+ */
    background    : -webkit-linear-gradient(top, #0c87b3 0%, #0c87b3 0%, #044d6e 100%) !important; /* Chrome10+,Safari5.1+ */
    background    : -o-linear-gradient(top, #0c87b3 0%, #0c87b3 0%, #044d6e 100) !important; /* Opera 11.10+ */
    background    : -ms-linear-gradient(top, #0c87b3 0%, #0c87b3 0%, #044d6e 100%) !important; /* IE10+ */
    background    : linear-gradient(to bottom, #0c87b3 0%, #0c87b3 0%, #044d6e 100%); /* W3C */
    filter        : progid:DXImageTransform.Microsoft.gradient(startColorstr='#0c87b3', endColorstr='#044d6e', GradientType=0); /* IE6-9 */
}

.wrap .header nav {
    webkit-box-shadow : none;
    -moz-box-shadow   : none;
    box-shadow        : none;
}

.header .header-contact {
    margin                     : -86px auto;
    height                     : 133px;
    width                      : 609px;
    border-bottom-left-radius  : 70px;
    border-bottom-right-radius : 70px;
    background                 : url("/images/background_pattern_black.png") repeat;
}

.header .header-contact-outer {
    float                      : right;
    margin                     : -86px 8px;
    height                     : 133px;
    width                      : 609px;
    border-bottom-left-radius  : 70px;
    border-bottom-right-radius : 70px;
    background                 : #3d3a34;
}

.header .header-overflow {
    position : absolute;
    top      : 86px;
    height   : 47px;
    width    : 100%;
    overflow : hidden;
}

.header .header-wrap {
    position  : relative;
    margin    : 0 auto;
    max-width : 960px;
    height    : 86px;
}

.header .header-menu .container {
    padding-right : 5px;
    padding-left  : 5px;
    max-width     : 960px;
}

.header .header-menu .container ul,
.header .header-menu .container li {
    list-style : none;
}

.header .header-menu .container li {
    margin : 10px;
}

.header .header-menu .container ul.navbar-nav {
    margin : 6px 0 0 0 !important;
    float  : right !important;
}

.header .header-menu .container ul.navbar-nav > li > a,
.header ul.dropdown-menu > li > a {
    font-family     : "Trebuchet MS", Arial, Helvetica, sans-serif;
    color           : white;
    text-decoration : underline;
    text-transform  : uppercase;
    font-size       : 16px;
}

.header .header-logo {
    background : url("/images/logo.png");
    width      : 56px;
    height     : 56px;
    float      : left;
}

.header .header-contact span {
    position : absolute;
}

.header .header-contact span.header-metro-marker {
    top        : 11px;
    background : url("/images/metro_marker.png");
    margin     : 0 0 0 40px;
    display    : block;
    height     : 25px;
    width      : 15px;
}

.header .header-contact span.header-phone {
    margin    : 3px 0 0 290px;
    font-size : 29px;
    top       : 0;
}

.header .header-contact span.header-metro {
    margin        : 11px 0 0 63px;
    top           : 0;
    font-size     : 15px;
    border-bottom : 1px dotted #648da1;
}

.header .header-contact span.header-metro a {
    color           : white;
    text-decoration : none;
}

.header .header-contact span.header-phone-code {
    margin    : 8px 0 0 225px;
    top       : 0;
    font-size : 16px;
}

.header .header-contact button.button-css {

    top            : 0;
    padding        : 8px 15px;
    text-transform : uppercase;
    display        : inline-block;
    margin         : 6px 0 0 435px;
    position       : absolute;
}

.header .navbar-brand .header-logo-title {
    margin    : 10px 0 0 75px;
    font-size : 35px;
}

.header .navbar-brand .header-logo-text {
    font-size : 13px;
    margin    : 6px 0 0 74px;
}

.header .navbar-default .navbar-nav > .open > a:hover,
.header .navbar-default .navbar-nav > .open > a,
.header .navbar-default .navbar-nav > .open > a:focus,
.header .navbar-default .navbar-nav a:hover,
.header .navbar-default .navbar-nav a:focus {
    border-radius    : 10px;
    text-decoration  : none !important;
    color            : white !important;
    background-color : #83b50b !important;
}

.header .navbar-default .navbar-nav a .caret {
    display : none;
}

.header a.navbar-brand {
    height     : 86px;
    width      : 340px;
    text-align : left;
}

.header .dropdown-menu {
    background-color : #83b50b;
    border-radius    : 10px !important;
}

.header .dropdown-menu li a {
    color : white !important;
}

.header .navbar-default {
    background-color : transparent;
    border-color     : transparent;
}

.font_main {
    font-stretch : condensed;
    display      : block;
    font-family  : "DejaVu Sans", Tahoma, "Unikurd Web", "Arial Unicode MS", Lateef, Scheherazade, "ae_Rasheeq", "sans-serif", sans;
    color        : white;
}

#grid_content .admin-banner {
    text-align : left;
    height     : 412px;
    width      : 960px;
    overflow   : hidden;
}

.image-not-found {
    color     : lightcoral;
    font-size : 30px;
}

.gallery-item img {
    max-width  : 150px;
    max-height : 100px;
}

.field-goods-instruction .file-preview-frame {
    height : 100%;
}

#grid_content .editable-buttons {
    display : block;
}

.modal-dialog .checkbox input[type="checkbox"],
.modal-dialog .checkbox-inline input[type="checkbox"] {
    position    : relative;
    margin-left : 0;
}

#callbacks-comment {
    cursor : pointer;
}