html,
body {
    height : 100%;
}

html {
    overflow-x : hidden;
}

.font_main {
    font-stretch : condensed;
    display      : block;
    font-family  : "DejaVu Sans", Tahoma, "Unikurd Web", "Arial Unicode MS", Lateef, Scheherazade, "ae_Rasheeq", "sans-serif", sans;
    color        : white;
}

.button-css {
    outline                   : none;
    -webkit-box-sizing        : content-box;
    -moz-box-sizing           : content-box;
    box-sizing                : content-box;
    cursor                    : pointer;
    padding                   : 10px 20px;
    border                    : 1px solid #aec431;
    -webkit-border-radius     : 10px;
    border-radius             : 10px;
    font-size                 : 11px;
    color                     : rgba(255, 255, 255, 1);
    -o-text-overflow          : clip;
    text-overflow             : clip;
    background                : -webkit-linear-gradient(-90deg, #c6d210 0, #c6d210 1%, #627407 90%, #8ea02c 100%);
    background                : -moz-linear-gradient(180deg, #c6d210 0, #c6d210 1%, #627407 90%, #8ea02c 100%);
    background                : linear-gradient(180deg, #c6d210 0, #c6d210 1%, #627407 90%, #8ea02c 100%);
    background-position       : 50% 50%;
    -webkit-background-origin : padding-box;
    background-origin         : padding-box;
    -webkit-background-clip   : border-box;
    background-clip           : border-box;
    -webkit-background-size   : auto auto;
    background-size           : auto auto;
    text-shadow               : -1px -1px 0 rgba(15, 73, 168, 0.66);
    -webkit-transition        : all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition           : all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition             : all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition                : all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -webkit-box-shadow        : 0 0 7px 2px rgba(0, 0, 0, 0.7);
    box-shadow                : 0 0 7px 2px rgba(0, 0, 0, 0.7);
}

.button-css a {
    text-decoration : none;
    color           : white;
}

.button-css:active {
    background                : #76a312;
    color                     : #374f00;
    box-shadow                : inset 0 1px 3px rgba(0, 0, 0, .3), 0 1px 0 #fff;
    text-shadow               : 0 1px 0 rgba(255, 255, 255, .4);
    outline                   : none;
    background                : -webkit-linear-gradient(-90deg, #627407 0, #8ca30e 100%);
    background                : -moz-linear-gradient(180deg, #627407 0, #8ca30e 100%);
    background                : linear-gradient(180deg, #627407 0, #8ca30e 100%);
    background-position       : 50% 50%;
    -webkit-background-origin : padding-box;
    background-origin         : padding-box;
    -webkit-background-clip   : border-box;
    background-clip           : border-box;
    -webkit-background-size   : auto auto;
    background-size           : auto auto;
    -webkit-box-shadow        : 4px 3px 6px 2px rgba(0, 0, 0, 0.2) inset;
    box-shadow                : 4px 3px 6px 2px rgba(0, 0, 0, 0.2) inset;
}

.hedge {
    width      : 100%;
    height     : 3px;
    background : url("/images/hedge.png") repeat;
    bottom     : 0;
    left       : 0 !important;
}

.wrap {
    min-height : 100%;
    height     : auto;
    margin     : 0 auto -60px;
    padding    : 0 0 60px;
}

.wrap > .container {
    padding : 0;
    width   : 100%;
}

header .scroll-top button.button-css {
    position           : fixed;
    top                : 720px;
    left               : 76%;
    width              : 30px;
    height             : 50px;
    border-radius      : 50%;
    border             : 6px solid #292929;
    z-index            : 10;
    font-size          : 70px;
    -webkit-transition : none;
    -moz-transition    : none;
    -o-transition      : none;
    transition         : none;
}

header .scroll-top button.button-css div {
    position          : absolute;
    top               : -16px;
    left              : 27px;
    -moz-transform    : rotate(90deg); /* Для Firefox */
    -ms-transform     : rotate(90deg); /* Для IE */
    -webkit-transform : rotate(90deg); /* Для Safari, Chrome, iOS */
    -o-transform      : rotate(90deg); /* Для Opera */
    transform         : rotate(90deg);
}

/* Header */
header .active a {
    border                : none;
    background-color      : #83b50b !important;
    text-decoration       : none !important;
    -webkit-border-radius : 30px;
    border-radius         : 30px !important;
    -webkit-box-shadow    : 2px 2px 4px 0 rgba(0, 0, 0, 0.79) inset;
    box-shadow            : 2px 2px 4px 0 rgba(0, 0, 0, 0.79) inset;
}

header .header {
    width         : 100%;
    height        : 86px;
    border-bottom : 1px dotted white;
    background    : #0c87b3; /* Old browsers */
    background    : -moz-linear-gradient(top, #0c87b3 0%, #0c87b3 0%, #044d6e 100%); /* FF3.6+ */
    background    : -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0c87b3), color-stop(0%, #0c87b3), color-stop(100%, #044d6e)); /* Chrome,Safari4+ */
    background    : -webkit-linear-gradient(top, #0c87b3 0%, #0c87b3 0%, #044d6e 100%); /* Chrome10+,Safari5.1+ */
    background    : -o-linear-gradient(top, #0c87b3 0%, #0c87b3 0%, #044d6e 100%); /* Opera 11.10+ */
    background    : -ms-linear-gradient(top, #0c87b3 0%, #0c87b3 0%, #044d6e 100%); /* IE10+ */
    background    : linear-gradient(to bottom, #0c87b3 0%, #0c87b3 0%, #044d6e 100%); /* W3C */
    filter        : progid:DXImageTransform.Microsoft.gradient(startColorstr='#0c87b3', endColorstr='#044d6e', GradientType=0); /* IE6-9 */

}

header .header-contact {
    margin                     : -86px auto;
    height                     : 133px;
    width                      : 609px;
    border-bottom-left-radius  : 70px;
    border-bottom-right-radius : 70px;
    background                 : url("/images/background_pattern_black.png") repeat;
}

header .header-contact-outer {
    float                      : right;
    margin                     : -86px 8px;
    height                     : 133px;
    width                      : 609px;
    border-bottom-left-radius  : 70px;
    border-bottom-right-radius : 70px;
    background                 : #3d3a34;
}

header .header-overflow {
    position : absolute;
    top      : 86px;
    height   : 47px;
    width    : 100%;
    overflow : hidden;
}

header .header-wrap {
    position  : relative;
    margin    : 0 auto;
    max-width : 960px;
    height    : 86px;
}

header .header-menu .container {
    padding-right : 5px;
    padding-left  : 5px;
    max-width     : 960px;
}

header .header-menu .container ul,
header .header-menu .container li {
    list-style : none;
}

header .header-menu .container li {
    margin : 10px;
}

header .header-menu .container ul.navbar-nav {
    margin : 6px 0 0 0 !important;
    float  : right !important;
}

header .header-menu .container ul.navbar-nav > li > a,
header ul.dropdown-menu > li > a {
    font-family     : "Trebuchet MS", Arial, Helvetica, sans-serif;
    color           : white;
    text-decoration : underline;
    text-transform  : uppercase;
    font-size       : 16px;
}

header .header-logo {
    background : url("/images/logo.png");
    width      : 56px;
    height     : 56px;
    float      : left;
}

header .header-contact span {
    position : absolute;
}

header .header-contact span.header-metro-marker {
    top        : 11px;
    background : url("/images/metro_marker.png");
    margin     : 0 0 0 40px;
    display    : block;
    height     : 25px;
    width      : 15px;
}

header .header-contact span.header-phone {
    margin    : 3px 0 0 290px;
    font-size : 29px;
    top       : 0;
}

header .header-contact span.header-metro {
    margin        : 11px 0 0 63px;
    top           : 0;
    font-size     : 15px;
    border-bottom : 1px dotted #648da1;
}

header .header-contact span.header-metro a {
    color           : white;
    text-decoration : none;
}

header .header-contact span.header-phone-code {
    margin    : 8px 0 0 225px;
    top       : 0;
    font-size : 16px;
}

header .header-contact button.button-css {

    top            : 0;
    padding        : 8px 15px;
    text-transform : uppercase;
    display        : inline-block;
    margin         : 6px 0 0 435px;
    position       : absolute;
}

header .navbar-brand .header-logo-title {
    margin    : 10px 0 0 75px;
    font-size : 35px;
}

header .navbar-brand .header-logo-text {
    font-size : 13px;
    margin    : 6px 0 0 74px;
}

.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav a:hover,
.navbar-default .navbar-nav a:focus {
    border-radius    : 10px;
    text-decoration  : none !important;
    color            : white !important;
    background-color : #83b50b !important;
}

@media (max-width : 768px) {
    header .header-contact-outer {
        float : left;
    }

    .navbar-left {
        background-color : #83b50b !important;
        border-radius    : 10px;
        width            : 100%;
    }

    body .wrap .container .your-doctor-content img {
        width : 150px;
    }

    body .wrap .container .your-doctor-content .your-doctor-info p {
        margin-left : 0 !important;
    }

    body .wrap .container .your-doctor-content button.button-css {
        left   : 0 !important;
        bottom : 10px !important;
    }

    body .wrap .container .your-doctor-last-paragraph {
        padding-bottom : 110px;
    }

    header .header-banner .header-banner-text-main {
        font-size : 30px !important;
    }

    header .header-banner div,
    header .header-banner h1 {
        left : 0 !important;
    }

    header .header-carousel .carousel .carousel-inner div > div {
        font-size : 29px !important;
        top       : 125px !important;
    }

    header .header-banner .header-banner-text-second {
        top       : 196px !important;
        font-size : 20px !important;
    }

    header a.navbar-brand {
        width : 290px !important;
    }

    body .wrap .container .your-doctor-content img {
        display : none;
    }

    header .header-banner button.button-css {
        top  : 260px !important;
        left : 0 !important;
    }

    header .navbar-brand .header-logo-title {
        margin : 0 0 0 75px !important;
    }

    header .header-contact span.header-metro-marker,
    header .header-contact span.header-metro {
        display : none;
    }

    header .header-contact span.header-phone-code {
        margin : 8px 0 0 25px !important;
    }

    header .header-contact span.header-phone {
        margin : 3px 0 0 94px !important;
    }

    header .header-contact button.button-css {
        margin    : 7px 0 0 235px !important;
        font-size : 9px !important;
    }
}

.navbar-default .navbar-nav a .caret {
    display : none;
}

header a.navbar-brand {
    height : 86px;
    width  : 340px;
}

header .dropdown-menu {
    background-color : #83b50b;
    border-radius    : 10px !important;
}

header .dropdown-menu li a {
    color : white !important;
}

.header nav {
    height       : 86px;
    background   : url("/images/background_pattern.png") repeat;
    border-color : transparent;
}

header .header-banner {
    position   : relative;
    margin-top : 86px;
    width      : 100%;
    height     : 460px;
    background : url("/images/header-banner.jpg") 50% 50%;
}

header .header-banner button.button-css {
    z-index        : 5;
    font-size      : 14px;
    position       : absolute;
    top            : 290px;
    left           : 31%;
    border         : 4px solid #292929;
    border-radius  : 15px;
    text-transform : uppercase;
}

header .header-banner h1 {
    margin : 8px 0;
}

header .header-banner h1,
header .header-banner div {
    text-transform : uppercase;
    position       : absolute;
    left           : 31%;
}

header .header-banner .header-banner-slider {
    top       : 105px;
    font-size : 49px;
}

header .header-banner .header-banner-text-main {
    font-weight : bold;
    color       : #352d27;
    top         : 155px;
    font-size   : 55px;
}

header .header-banner .header-banner-text-second {
    top       : 222px;
    font-size : 23px;
}

header .header-carousel {
    height    : 100%;
    max-width : 960px;
    left      : 0 !important;
    margin    : auto;
    position  : relative !important;
}

.main-carousel .main-carousel-slide {
    margin-top : 18px;
    height     : 412px;
    max-width  : 960px;
}

.main-carousel .main-carousel-slide .main-carousel-label {
    padding-top    : 10px;
    font-size      : 24px;
    color          : #352d27;
    text-transform : uppercase;
    font-weight    : bold;
}

.main-carousel-slide .main-carousel-image,
.main-carousel-slide .main-carousel-description {
    float  : left;
    height : 368px;
    width  : 480px;
}

.main-carousel .carousel-caption {
    display : none;
}

.main-carousel-slide .main-carousel-description-short {
    color : #352d27;
}

.main-carousel-slide .main-carousel-description-price {
    color       : #352d27;
    font-size   : 42px;
    font-weight : bold;
}

.main-carousel-slide .main-carousel-description-button button.button-css {
    border         : 4px solid #292929;
    font-size      : 12px;
    border-radius  : 15px;
    text-transform : uppercase;
}

.main-carousel-slide .main-carousel-description .main-carousel-title {
    font-weight    : bold;
    font-size      : 52px;
    color          : #352d27;
    text-transform : uppercase;
}

header .header-carousel .carousel,
header .header-carousel .carousel .carousel-inner {
    width  : 100%;
    height : 100%;
    left   : 0;
}

header .header-carousel .carousel .carousel-inner div > div {
    top       : 105px;
    font-size : 49px;
    left      : 12.5%;
}

.header-carousel .carousel-control.right, .carousel-control.left,
.item-with-carousel .carousel-control.right, .carousel-control.left,
.main-carousel .carousel-control.right, .carousel-control.left {
    z-index       : 4;
    top           : 181px;
    height        : 50px;
    border-radius : 50%;
    width         : 50px;
    line-height   : 43px;
    font-size     : 45px;
}

.main-carousel .slide {
    height : 412px;
}

.main-carousel .carousel-inner {
    position  : absolute;
    height    : 412px;
    max-width : 960px;
    overflow  : hidden;
}

.main-carousel .carousel-inner .item {
    position : relative;
    top      : -18px;
}

.main-carousel .carousel-indicators,
.header-carousel .carousel-indicators {
    display : none;
}

.header-carousel .carousel-control.right,
.header-carousel .carousel-control.left {
    color      : #000000;
    background : white;
}

/* Body */
.main-carousel .carousel-control.left {
    background : #0c85b1;
}

.main-carousel .carousel-control.right {
    background : #83b50b;
}

body .wrap .container .main-carousel {
    width    : 100%;
    height   : 412px;
    overflow : hidden;
}

body .wrap .container .main-carousel .carousel {
    margin    : auto;
    max-width : 960px;
}

body .wrap .container .advantages {
    min-height : 365px;
    width      : 100%;
    background : url("/images/background_advantages.jpg") repeat;
}

body .wrap .container .advantages .advantages-content {
    margin     : 36px auto 0 auto;
    max-width  : 960px;
    min-height : 323px;
}

body .wrap .container .advantages .advantages-content > .advantages-line {
    padding-top : 37px;
}

body .wrap .container .advantages .advantages-content h3 {
    color          : white;
    text-transform : uppercase;
    font-weight    : bold;
}

body .wrap .container .advantages .advantages-content .advantages-line .advantages-item {
    padding-bottom : 15px;
    width          : 320px;
    float          : left;
}

body .wrap .container .advantages .advantages-content .advantages-line .advantages-item span {
    display        : table-cell !important;
    vertical-align : middle;
    font-size      : 17px;
    display        : inline-block;
    width          : 72px;
    height         : 72px;
}

body .wrap .container .advantages .advantages-content .advantages-line .advantages-item span + span {
    padding-left : 5px;
    width        : 243px;
}

body .wrap .container .awards-block {
    min-height : 573px;
    width      : 100%;
}

body .wrap .container .awards-block .awards-block-content {
    color      : #352d27;
    margin     : 36px auto 0 auto;
    max-width  : 960px;
    min-height : 573px;
}

body .wrap .container .awards-block .awards-block-content .awards-block-line span {
    margin  : 0 40px 0 0;
    display : inline-block;
    width   : 234px;
    height  : 169px;
}

body .wrap .container .your-doctor {
    min-height : 569px;
    width      : 100%;
    background : url("/images/background_advantages.jpg") repeat;
}

body .wrap .container .your-doctor-content {
    position   : relative;
    margin     : 0 auto;
    max-width  : 960px;
    min-height : 569px;
}

body .wrap .container .your-doctor-content img {
    position   : absolute;
    bottom     : 0;
    max-height : 465px;
    max-width  : 471px;
}

body .wrap .container .your-doctor-content .your-doctor-info p {
    margin-left : 444px;
}

body .wrap .container .your-doctor-content button.button-css {
    font-size      : 17px;
    padding        : 17px 65px;
    border         : 4px solid #352d27;
    border-radius  : 15px;
    text-transform : uppercase;
    position       : absolute;
    left           : 444px;
    bottom         : 28px;
    border-radius  : 20px;
    z-index        : 5;
}

/* Footer */

footer {
    width      : 100%;
    min-height : 375px;
}

footer .contacts-info {
    background    : #055c7e;
    border-bottom : 1px dotted white;
}

footer .contacts-info .contacts-info-background {
    background : url("/images/background_pattern.png") repeat;
}

footer .contacts-info,
footer .contacts-info .contacts-info-background {
    width      : 100%;
    min-height : 180px;
}

footer .contacts-info .contacts-info-content {
    position   : relative;
    margin     : auto;
    max-width  : 960px;
    min-height : 180px;
}

footer .contacts-info .contacts-info-content p,
footer .contacts-info .contacts-info-content a {
    color : white;
}

footer span.footer-metro-marker {
    padding-top    : 22px;
    display        : table-cell;
    vertical-align : middle;
    background     : url("/images/metro_marker_footer.png");
    height         : 37px;
    width          : 23px;
}

footer span.footer-phone {
    font-size : 29px;
}

footer span.footer-metro {
    margin        : 11px 0 0 63px;
    top           : 0;
    font-size     : 15px;
    border-bottom : 1px dotted #648da1;
}

footer .contacts-info-content a {
    display         : table-cell;
    vertical-align  : middle;
    padding-left    : 10px;
    color           : white;
    text-decoration : none;
}

footer .contacts-info-content button.button-css {
    padding        : 8px 15px;
    text-transform : uppercase;
}

footer .footer-banner {
    position   : relative;
    width      : 100%;
    height     : 196px;
    background : url("/images/footer-banner.jpg") 50% 50%;
}

/* Catalog */
.catalog-container {
    margin    : 0 auto;
    max-width : 960px;
}

.catalog-container h1,
.catalog-container .catalog-sort-title {
    text-transform : uppercase;
    font-weight    : bold;
    color          : #352d27;
}

.catalog-container .catalog-sort-title {
    font-size : 15px;
}

button.button-sort {
    margin-right          : 30px;
    display               : inline-block;
    -webkit-box-sizing    : content-box;
    -moz-box-sizing       : content-box;
    box-sizing            : content-box;
    cursor                : pointer;
    padding               : 10px 20px;
    border                : none;
    -webkit-border-radius : 30px;
    border-radius         : 30px;
    color                 : rgba(255, 255, 255, 0.9);
    -o-text-overflow      : clip;
    text-overflow         : clip;
    background            : #352d27;
    outline               : none;
}

button.button-sort.active {
    background         : rgb(131, 181, 11);
    -webkit-box-shadow : 2px 2px 4px 0 rgba(0, 0, 0, 0.79) inset;
    box-shadow         : 2px 2px 4px 0 rgba(0, 0, 0, 0.79) inset;
    text-shadow        : -1px -1px 0 rgba(15, 73, 168, 0.66);
}

.catalog-container .catalog-item-wrap .row {
    height : 245px;
}

.catalog-container .catalog-item-wrap .catalog-item-image {
    max-width  : 150px;
    max-height : 240px;
    height     : 240px;
}

.catalog-container .catalog-item-wrap .catalog-item-features-wrap,
.catalog-container .catalog-item-wrap .catalog-item-button-wrap,
.catalog-container .catalog-item-wrap .catalog-item-title-wrap {
    height         : 100%;
    vertical-align : middle;
    display        : table;
}

.catalog-container .catalog-item-wrap .catalog-item-button,
.catalog-container .catalog-item-wrap .catalog-item-features,
.catalog-container .catalog-item-wrap .catalog-item-title {
    vertical-align : middle;
    display        : table-cell;
}

.catalog-container .catalog-item-wrap .catalog-item-button button.button-css {
    border         : 4px solid #292929;
    border-radius  : 15px;
    text-transform : uppercase;
}

.catalog-container .catalog-item-wrap .catalog-item-title div {
    color : #352d27;
}

.catalog-container .catalog-item-wrap .catalog-item-title .item-title {
    display     : table-cell;
    font-size   : 20px;
    font-weight : bold;
}

.catalog-container .catalog-item-wrap .catalog-item-title .item-price {
    font-size   : 30px;
    font-weight : bold;
}

.catalog-container .catalog-item-wrap .catalog-item-title .item-channel-count {
    color : #999900;

}

.catalog-container .catalog-item-good-type {
    position           : absolute;
    left               : 0;
    -webkit-box-sizing : content-box;
    -moz-box-sizing    : content-box;
    box-sizing         : content-box;
    height             : 1px;
    border             : 1px dashed rgba(255, 252, 252, 1);
    -o-text-overflow   : ellipsis;
    background         : -webkit-linear-gradient(-180deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 1) 50%, rgba(255, 255, 255, 0) 100%);
    background         : -moz-linear-gradient(270deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 1) 50%, rgba(255, 255, 255, 0) 100%);
    background         : linear-gradient(270deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 1) 50%, rgba(255, 255, 255, 0) 100%);
    width              : 100%;
    margin-top         : -20px;
    z-index            : -1;
}

.catalog-container .catalog-item-type-1 {

}

.catalog-container .catalog-item-type-3 {
    background : #003399 !important;
}

.catalog-container .catalog-item-type-5 {
    background : #994d53 !important;
}

/* Item */
.item-container {
    margin    : 0 auto;
    max-width : 960px;
}

.item-container .breadcrumb {
    margin-top : 15px;
    background : none;
}

.item-container .breadcrumb a {
    color           : #006699;
    text-decoration : underline;
}

.item-container .item-image {
    height : 295px;
    width  : 295px;
}

.item-container .item-label {
    margin-top  : 15px;
    color       : #352d27;
    font-size   : 52px;
    font-weight : bold;
}

.item-container .item-description {
    color : #352d27;
}

.item-container .item-price {
    color       : #352d27;
    font-size   : 41px;
    font-weight : bold;
}

.item-container .item-features {
    width : 310px;
}

.item-container .item-documentation,
.item-container .item-features .item-features-title {
    margin-bottom  : 5px;
    color          : #352d27;
    font-size      : 17px;
    text-transform : uppercase;
}

.item-container .item-features .item-features-all div {
    padding    : 5px 0;
    border-top : 1px dashed rgba(53, 45, 39, 0.2);
    color      : #352d27;
}

.item-container .item-features .item-features-button {
    margin-top : 30px;
}

.item-container .item-features .item-features-button .button-css {
    border        : 4px solid #292929;
    font-size     : 14px;
    border-radius : 15px;
}

.item-container .item-documentation {
    height       : 280px;
    border-right : 1px dashed rgba(53, 45, 39, 0.2);
}

.item-container .item-documentation .item-instruction-button .button-css {
    padding            : 7px 20px;
    font-size          : 12px;
    margin-top         : 10px;
    -moz-box-shadow    : none;
    -o-box-shadow      : none;
    -webkit-box-shadow : none;
    box-shadow         : none;
}

.item-container .goods-with {
    margin-top     : 20px;
    color          : #352d27;
    font-size      : 23px;
    text-transform : uppercase;
    font-weight    : bold;
}

.item-container .item-good-type {
    position           : absolute;
    left               : 0;
    -webkit-box-sizing : content-box;
    -moz-box-sizing    : content-box;
    box-sizing         : content-box;
    height             : 1px;
    border             : 1px dashed rgba(255, 252, 252, 1);
    -o-text-overflow   : ellipsis;
    background         : -webkit-linear-gradient(-180deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.3) 50%, rgba(255, 255, 255, 0) 100%);
    background         : -moz-linear-gradient(270deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.3) 50%, rgba(255, 255, 255, 0) 100%);
    background         : linear-gradient(270deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.3) 50%, rgba(255, 255, 255, 0) 100%);
    width              : 100%;
    z-index            : -1;
}

.item-with-carousel .carousel-inner {
    height : 190px;
}

.item-with-carousel .item-with-carousel-slide {
    margin-top : 18px;
    height     : 412px;
    max-width  : 960px;
}

.item-with-carousel .item-with-carousel-slide .item-with-carousel-label {
    padding-top    : 10px;
    font-size      : 24px;
    color          : #352d27;
    text-transform : uppercase;
    font-weight    : bold;
}

.item-with-carousel .carousel-control.left,
.item-with-carousel .carousel-control.right {
    background : #0c85b1;
}

/*.item-with-carousel .carousel-control.right {
    background : #83b50b;
}*/

.item-with-carousel .carousel-indicators {
    display: none;
}

.item-with-carousel .carousel-control.right,
.item-with-carousel .carousel-control.left {
    top : 80px !important;
}

.item-with-carousel .item-with-carousel-slide {
    margin-top : 18px;
    height     : 412px;
    max-width  : 960px;
}

.item-with-carousel .item-with-carousel-slide .item-with-carousel-label {
    padding-top    : 10px;
    font-size      : 24px;
    color          : #352d27;
    text-transform : uppercase;
    font-weight    : bold;
}

.item-with-carousel-slide .item-with-carousel-image {
    float  : left;
    margin-left: 95px;
    margin-top: 25px;
    height : 120px;
}

.item-with-carousel-slide .item-with-carousel-description {
    margin-top: 45px;
}

.item-with-carousel-slide .item-with-carousel-description-price {
    color       : #352d27;
    font-size   : 29px;
    font-weight : bold;
}

.item-with-carousel-slide .item-with-carousel-description .item-with-carousel-title {
    font-weight    : bold;
    font-size      : 18px;
    color          : #352d27;
    text-transform : uppercase;
}
